#=====================================================================#
echo misc_functions.rc: Definindo funções diversas...

#
# Outras funções
# 

# Dizer a uma janela que já está se movendo para fazer um AnimatedMove
# não é uma boa idéia!
# Esta função certifica-se que o usuário não pegará uma janela duas 
# vezes, através da definição de um dos estados da janela enquanto ela
# está sendo movida.
#
# Cada janela tem cerca de 30 estados definidos pelo usuário, os quais
# você pode testar em funções; os estados podem ser utilizados para
# qualquer propósito.
#
DestroyFunc LockingSlide
AddToFunc LockingSlide
+ I Test (!State 2) Break
+ I State 2 False
+ I AnimatedMove $0 $1
+ I State 2 True
+ I Refresh

# Nome:     WheelToggleShade
# Assoc.:   Botões do trackball/mouse 4 e 5 (roda para cima e para 
#           baixo nas Barras-de-título
# Propós.:  Enrolar ou desenrolar uma janela quando a roda do mouse é 
#           rolado para cima ou para baixo na barra-de-título. Rolando
#           para cima invoca a função com o argumento "True" e rolando
#           para baixo invoca a função com o argumento "False", então
#           rolar para baixo quando a janela não está sombreada não
#           tem efeito, o que eu gosto. :-)
#
DestroyFunc WheelToggleShade
AddToFunc WheelToggleShade D WindowShade $0

# O Fvwm usa essa função quando selecionando janelas através do comando
# WindowList. Você pode fazer o uso dessa função como bem entender, ela
# é executada no contexto da janela selecionada
#
DestroyFunc WindowListFunc
AddToFunc WindowListFunc
+ I WindowShade False
+ I Iconify off
+ I Raise
+ I FlipFocus

#=====================================================================#

# Mais uma função complexa - ela não foi definida antes, pois a mesma
# depende dos menus em cascata/pop-ups.
#
# OBS: Se mover o ponto onde esse arquivo será lido, tenha certeza de
# que o mesmo será lido após o "menus.rc", ou poderá ter problemas.
#
AddToFunc "window_ops_func" "C" PopUp Window-Ops2
+              "M" PopUp Window-Ops2
+              "D" Delete

AddToFunc "window_ops_func_quickaccess" "C" PopUp "Quick Access"
+              "M" PopUp "Quick Access"
+              "D" Delete

#=====================================================================#

# ------------------- FuncAppAudacious - FuncAppAudtool
# Duas funções que são necessárias para detectar se o sistema utiliza
# o Audacious ou o Audacious 2
DestroyFunc FuncAppAudacious
AddToFunc FuncAppAudacious
+ I Test (x audacious) Exec exec audacious
+ I TestRc (Match) break
+ I Test (x audacious2) Exec exec audacious2
+ I TestRc (Match) break

DestroyFunc FuncAppAudtool
AddToFunc FuncAppAudtool
+ I Test (x audtool) Exec exec audtool $*
+ I TestRc (Match) break
+ I Test (x audtool2) Exec exec audtool2 $*
+ I TestRc (Match) break

# ------------------- FuncAppEMail
DestroyFunc FuncAppEMail
AddToFunc FuncAppEmail
+ I Test (x claws-mail) Exec exec claws-mail
+ I TestRc (Match) break
+ I Test (x sylpheed) Exec exec sylpheed
+ I TestRc (Match) break
+ I Test (x kontact) Exec exec kontact
+ I TestRc (Match) break
+ I Test (x thunderbird) Exec exec thunderbird
+ I TestRc (Match) break
+ I Test (x evolution) Exec exec evolution
+ I TestRc (Match) break

# ------------------- FuncAppWWWBrowser
DestroyFunc FuncAppWWWBrowser
AddToFunc FuncAppWWWBrowser
+ I Test (x firefox) Exec GDK_NATIVE_WINDOWS=1 firefox
+ I TestRc (Match) break
+ I Test (x seamonkey) Exec GDK_NATIVE_WINDOWS=1 seamonkey
+ I TestRc (Match) break
+ I Test (x opera) Exec exec opera
+ I TestRc (Match) break
+ I Test (x konqueror) Exec exec konqueror
+ I TestRc (Match) break
+ I Test (x kazehakase) Exec exec kazehakase
+ I TestRc (Match) break

# ------------------- FuncAppCalc
DestroyFunc FuncAppCalc
AddToFunc FuncAppCalc
+ I Test (x galculator) Exec exec galculator
+ I TestRc (Match) break
+ I Test (x gcalctool) Exec exec gcalctool
+ I TestRc (Match) break
+ I Test (x kcalc) Exec exec kcalc
+ I TestRc (Match) break
+ I Test (x xcalc) Exec exec xcalc
+ I TestRc (Match) break

# ------------------- FuncSysSuspend
DestroyFunc FuncSysSuspend
AddToFunc FuncSysSuspend
+ I Test (x xscreensaver-command) Exec xscreensaver-command --lock
#+ I Test (x dbus-send) Exec dbus-send --system --print-reply \
#				--dest="org.freedesktop.UPower" \
#				/org/freedesktop/UPower \
#				org.freedesktop.UPower.Suspend
+ I Exec systemctl suspend

# ------------------- FuncSysHibernate
DestroyFunc FuncSysHibernate
AddToFunc FuncSysHibernate
+ I Test (x xscreensaver-command) Exec xscreensaver-command --lock
+ I Exec systemctl hibernate

# ------------------- FuncWinFinder
DestroyFunc FuncWinFinder
AddToFunc FuncWinFinder
+ I Test (x urxvt-256-color) Exec exec urxvt-256color \
	-fn "xft:DejaVu Sans Mono:style=Regular:pixelsize=14" \
	-bg grey10 \
	-fg white \
	+sb \
	-name FvwmWindowFinder \
	-T 'Localizador de Janelas' \
	-e bash ~/.fvwm/window_finder.sh
+ I TestRc (Match) break
+ I Test (x xterm) Exec exec xterm \
	-fa "Droid Sans Mono:style=Regular" \
	-fs 10 \
	-bg grey10 \
	-fg white \
	+sb \
	-name FvwmWindowFinder \
	-T Localizador\ de\ Janelas \
	-e ~/.fvwm/window_finder.sh 
+ I TestRc (Match) break

# ------------------- FuncWorkday
DestroyFunc FuncWorkday
AddToFunc FuncWorkday
# 
# Máquina: qualquer
# Papel: dar boas-vindas e identificar o dia da semana
#
+ I Test (EnvMatch HOSTNAME skywall.homenet) Exec play -q $Sky_Dir/sons/FuncWorkday_Begin.ogg
+ I Exec notify-send "`getent passwd $USER | cut -d ':' -f 5 | cut -d ' ' -f 1`, aguarde o carregamento dos programas." -i distributor-logo.png -t 10000
+ I Exec FvwmCommand 'SetEnv Sky_Week '`LC_ALL=en_US.UTF-8 date +"%a"`
#
#
# Máquina: notebook
# Papel: iniciar navegador, instant messenger e cliente de e-mail
#
#   +-----+-----+-----+
#   |  x  |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) GotoDeskAndPage 0 0 0
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Exec firefox -P padrao_sem_exts
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Wait Navigator
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Exec /opt/Telegram/Telegram
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Wait Telegram
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Next (Telegram) Resize 687c 480c
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Next (Telegram) AnimatedMove 622p 0
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Exec claws-mail
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Wait Claws-mail
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Next (!HasHandles, Claws-mail) AnimatedMove 0p 999p
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Next (HasHandles, Claws-mail) AnimatedMove 0p 0
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Next (Navigator) Resize 1311c 825c
+ I Test (EnvMatch HOSTNAME thinkpad.homenet) Next (Navigator) AnimatedMove 0 0
#
#
# Máquina: desktop
# Papel: iniciar perfil pessoal do Vivaldi e iniciar carga antecipada
#        do Audacity (depois será movido para a área correta)
#
#   +-----+-----+-----+
#   |  x  |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#
+ I Test (EnvMatch HOSTNAME skywall.homenet) GotoDeskAndPage 0 0 0
+ I Test (EnvMatch HOSTNAME skywall.homenet) Exec vivaldi-stable --profile-directory="Default"
+ I Test (EnvMatch HOSTNAME skywall.homenet) Wait vivaldi-stable
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (CurrentPage,vivaldi-stable) Maximize True
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Exec audacity
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Wait Audacity
#
# Máquina: desktop
# Papel: iniciar perfil corporativo do Vivaldi
#
#   +-----+-----+-----+
#   |     |  x  |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#
+ I Test (EnvMatch HOSTNAME skywall.homenet) GotoDeskAndPage 0 1 0
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Exec vivaldi-stable --profile-directory="Profile 1"
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Wait vivaldi-stable
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Next (CurrentPage,vivaldi-stable) Maximize True
#
# Máquina: desktop
# Papel: iniciar Firefox
#
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |  x  |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#
+ I Test (EnvMatch HOSTNAME skywall.homenet) GotoDeskAndPage 0 0 1
+ I Test (EnvMatch HOSTNAME skywall.homenet) Exec firefox
+ I Test (EnvMatch HOSTNAME skywall.homenet) Wait Navigator
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (Navigator) Maximize True
#
# Máquina: desktop
# Papel: iniciar Telegram, KeePassX e Skype
#
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |  x  |     |     |
#   +-----+-----+-----+
#
+ I Test (EnvMatch HOSTNAME skywall.homenet) GotoDeskAndPage 0 0 2
+ I Test (EnvMatch HOSTNAME skywall.homenet) Exec /opt/Telegram/Telegram
+ I Test (EnvMatch HOSTNAME skywall.homenet) Wait Telegram
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (Telegram) Resize 664c 503c
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (Telegram) AnimatedMove 405p 0
+ I Test (EnvMatch HOSTNAME skywall.homenet) Exec keepassx
+ I Test (EnvMatch HOSTNAME skywall.homenet) Wait Keepassx
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (Keepassx) AnimatedMove 50-50w 50-50w
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (Keepassx) Iconify
+ I Test (EnvMatch HOSTNAME skywall.homenet) Exec skypeforlinux
+ I Test (EnvMatch HOSTNAME skywall.homenet) Wait Skype
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (Skype) AnimatedMove 0 0
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (Skype) Close
#
# Máquina: desktop
# Papel: abrir desktop remoto do Windows 10
#
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |  x  |     |
#   +-----+-----+-----+
#
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		GotoDeskAndPage 0 1 3
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Exec /usr/NX/bin/nxplayer
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Wait Nxplayer.bin
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Next (Nxplayer.bin) Maximize
#
# Máquina: desktop
# Papel: colocar Audacity na página correta e minimizá-lo
#
#   +-----+-----+-----+
#   |     |  x  |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		GotoDeskAndPage 0 1 0
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Next (Audacity) MoveToPage 1 0
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Next (Audacity) AnimatedMove 50-50w 50-50w
+ I Test (EnvMatch HOSTNAME skywall.homenet) \
	Test (!EnvMatch Sky_Week Sat) \
	Test (!EnvMatch Sky_Week Sun) \
		Next (Audacity) Iconify
#
# Máquina: praticamente qualquer
# Papel: voltar para a primeira página
#
#   +-----+-----+-----+
#   |  x  |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#   |     |     |     |
#   +-----+-----+-----+
#
+ I GotoDeskAndPage 0 0 0
+ I Test (EnvMatch HOSTNAME skywall.homenet) Exec play -q $Sky_Dir/sons/FuncWorkday_End.ogg
+ I Test (EnvMatch HOSTNAME skywall.homenet) Next (vivaldi-stable) Focus
+ I Exec notify-send "Inicialização concluída. Hoje é `date +"%A"`." -i clock -t 10000

echo misc_functions.rc: Processamento terminado.
#=====================================================================#
