#=====================================================================#
echo styles.rc: Processando estilos...

#
# Estilos
#

# - Defina os estilos de decoração e opções de janelas;
# - A ordem *é* importante;
# - Se estilos compatíveis são declarados para uma única janela em
#   múltiplos comandos Style, então os estilos serão acumulados e 
#   ordenados de acordo. Se estilos conflitantes forem declarados, o 
#   último especificado levará vantagem.

### Os comandos abaixo devem ser executados antes que qualquer ###
### menus ou funções sejam definidos e antes que o Pager interno ###
### seja inicializado ###
Style "Fvwm*" \
	!Title, \
	Sticky, \
	WindowListSkip
Style "Fvwm Pager" \
	StaysOnTop, \
	!Handles
Style FvwmPager \
	StaysOnTop, \
	!Handles
Style "FvwmBanner" \
	StaysOnTop
Style "FvwmButtons" \
	!Title, \
	!Handles, \
	Sticky, \
	WindowListSkip, \
	BorderWidth 5
Style FvwmForm \
	PositionPlacement Center
Style FvwmScript \
	PositionPlacement Center
Style FvwmConsole \
	StaysOnTop
Style FvwmWinList \
	!Title, \
	!Handles, \
	Sticky, \
	WindowListSkip, \
	BorderWidth -1, \
	CirculateSkip, \
	ClickToFocus

### Se você quer mini-ícones na lista de janelas, comente os ###
### estilos declarados abaixo ###
Style * EWMHDontDonateMiniIcon
Style * EWMHMiniIconOverride
# * Os temas Clearlooks e XP devem mostrar mini-ícones
Test (EnvMatch Sky_Theme clearlooks) \
	Style * !EWMHDontDonateMiniIcon
Test (EnvMatch Sky_Theme clearlooks) \
	Style * !EWMHMiniIconOverride
Test (EnvMatch Sky_Theme xp) \
	Style * !EWMHDontDonateMiniIcon
Test (EnvMatch Sky_Theme xp) \
	Style * !EWMHMiniIconOverride
	
### Se você, assim como eu, se sentia irritado por causa de ###
### ícones de múltiplos tamamnhos na hora de restaurar as ###
### janelas minimizadas, então a seguinte declaração será ###
### muito apreciada e agora é um default para mim ###
Style * IconSize 48 48

### Estilos para diversos aplicativos ###

# * Utilitários
Style "ROX-Pinboard" \
	WindowListSkip
Style "Xfce4-panel" \
	StaysOnTop, \
	Sticky, \
	StartsRaised, \
	NeverFocus, \
	EWMHIgnoreStateHints
Style "xfce4-notifyd" \
	StaysOnTop, \
	Sticky, \
	NeverFocus
Style "*lock" \
	!Title, \
	!Handles, \
	Sticky, \
	WindowListSkip
Style "Xystray" \
	!Title, \
	StaysOnTop, \
	Sticky, \
	!Handles, \
	WindowListSkip
Style stalonetray \
	!Title, \
	Sticky, \
	!Handles, \
	WindowListSkip, \
	StaysOnBottom, \
	StartsLowered
Style gmrun \
	PositionPlacement Center, \
	GrabFocus, StaysOnTop, \
	BackColor Gray, WindowListSkip, \
	CirculateSkip, \
	BorderWidth 3, \
	!Iconifiable, \
	StartsOnScreen 1
Test (EnvMatch Sky_Theme clearlooks) \
	Style gmrun \
	BorderWidth 1
Style xfrun4 \
	GrabFocus, \
	StaysOnTop, \
	PositionPlacement Center, \
	!Button 2, \
	!Button 4, \
	FixedSize, \
	!Iconifiable, \
	!Maximizable
Style xfce4-appfinder \
	GrabFocus, \
	StaysOnTop, \
	PositionPlacement Center, \
	!Button 2, \
	!Button 4, \
	FixedSize, \
	!Iconifiable, \
	!Maximizable, \
	StartsOnScreen 1
Test (EnvMatch Sky_Theme diamond) \
	Style xfce4-appfinder \
	GrabFocus, \
	StaysOnTop, \
	PositionPlacement Center, \
	Button 2, \
	!Button 4, \
	!Button 6, \
	VariableSize, \
	!Iconifiable, \
	!Maximizable, \
	StartsOnScreen 1
Test (EnvMatch Sky_Theme tribal) \
	Style xfrun4 \
	GrabFocus, \
	StaysOnTop, \
	PositionPlacement Center, \
        FixedSize, \
        !Iconifiable, \
        !Maximizable, \
        Button 1, \
        Button 2, \
        !Button 4, \
        !Button 6
Style gdl_box \
	GrabFocus, \
	StaysOnTop, \
	PositionPlacement Center, \
	!Iconifiable
Style xpad \
	Title, \
	Borders, \
	Sticky, \
	!Handles, \
	!Button 1, \
	!Button 2, \
	!Maximizable
Test (EnvMatch Sky_Theme tribal) \
	Style xpad \
	Title, \
	Borders, \
	Sticky, \
	!Handles, \
	!Maximizable, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6
Test (EnvMatch Sky_Theme diamond) \
	Style xpad Title, \
	Borders, \
	Sticky, \
	StaysOnBottom, \
	!Handles, \
	!Maximizable, \
	Button 3, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6
Test (EnvMatch Sky_Theme gentoo) \
	Style xpad Title, \
	Borders, \
	Sticky, \
	Handles, \
	!Maximizable, \
	!Iconifiable, \
	Button 3, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6, \
	WindowListSkip, \
	TitleAtLeft
Style kruler \
	!Title, \
	Sticky, \
	!Handles, \
	BorderWidth 0
Style gkrellm \
	UsePPosition, \
	Sticky, \
	WindowListSkip, \
	NeverFocus
Style xmessage \
	PositionPlacement Center, \
	!Handles, \
	!Button 2, \
	!Button 4
Test (EnvMatch Sky_Theme tribal) \
	Style xmessage \
	PositionPlacement Center, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6
Style "lxappearance" \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-settings-theme.png
Style xcalc \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-calculator.png
Style xedit \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gedit-icon.png
Style xv \
	IconOverride, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/applets-screenshooter.png
Style Display \
	EWMHIgnoreWindowType, \
	EWMHIgnoreStateHints, \
	EWMHIgnoreStackingOrderHints, \
	EWMHIgnoreStrutHints, \
	Borders
Style esets_gui \
	PositionPlacement Center, \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /opt/eset/esets/share/menu/app_icon_128.png
Style "Notificação - ESET NOD32 Antivirus" \
	StaysOnTop, \
	Sticky, \
	StartsRaised, \
	NeverFocus, \
	EWMHIgnoreStateHints

Style Comix \
	IconOverride, \
	Icon /usr/share/comix/images/comix.svg
Style MPlayer \
	PositionPlacement Center, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/icon-media.png
Style galculator \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-calculator.png

# * Produtividade
Read $[Sky_Dir]/applix-theme.rc
Style tm \
	!UsePPosition, \
	NoIconPosition
Style pm \
	!UsePPosition, \
	NoIconPosition
Style pr \
	!UsePPosition, \
	NoIconPosition
Style Notecase \
	IconOverride, \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-log.png
Style Gnote \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/icons/hicolor/48x48/apps/gnote.png
Style StarDict \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/system-config-language.png
Style VCLSalFrame.DocumentWindow \
	IconOverride, \
	EWMHDontDonateIcon, \
	Icon /usr/share/icons/hicolor/48x48/apps/libreoffice-main.png, \
	ResizeOutline
Style VCLSalFrame \
	PositionPlacement Center
Style LibreOffice \
	PositionPlacement Center
Test (EnvMatch Sky_TwoMons_Type 3) Style LibreOffice \
	StartsOnScreen 0
Style libreoffice-writer \
	IconOverride, \
	EWMHDontDonateIcon, \
	Icon /usr/share/icons/hicolor/48x48/apps/libreoffice-writer.png, \
	ResizeOutline
#Style Kontact !Closable, !Button 2
Style KPilot !Maximizable, !Button 4, Sticky
Style scribus \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/scribus/icons/scribus.png
Style Blender \
	EWMHMaximizeIgnoreWorkingArea
Style "Caixa de ferramentas" \
	FixedSize, \
	!Maximizable, \
	TitleAtLeft, \
	Button 1, \
	Button 2, \
	!Button 3, \
	!Button 4, \
	Button 6, \
	!Button 8
Style Serna.bin \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /opt/serna-free-4.2/icons/SernaIcon48.png
Style skype \
	!UsePPosition

# * Gráficos
Style GrafX2 \
	ResizeOutline, \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/icons/grafx2.svg:48x48
Style xsane \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/icons/gnome/48x48/devices/scanner.png
Style MuPDF \
	IconOverride, \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/mimetypes/48/application-pdf.png

# * Jogos e Multimídia
Style "Painel xine" \
	!Title, \
	!Handles, \
	StaysOnTop, \
	Sticky
Style aumix \
	IconOverride, \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-mixer.png
Style xmms \
	UsePPosition
Style audacious \
	UsePPosition
Style schismtracker \
	ResizeOutline
Style milkytracker \
	FixedSize, \
    EWMHDontDonateIcon, \
    IconOverride, \
	Icon /usr/share/pixmaps/milkytracker.png
Style zsnes \
	Icon /usr/share/icons/hicolor/48x48/apps/zsnes.png
Style zsnes \
	!Button 2, \
	PositionPlacement Center, \
	!Handles, \
	FixedSize
Test (EnvMatch Sky_Theme tribal)
	Style zsnes \
	PositionPlacement Center \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6, \
	!Handles, \
	FixedSize
Test (EnvMatch Sky_Theme diamond) \
	Style zsnes \
	PositionPlacement Center \
	Button 1, \
	Button 2, \
	!Button 4, \
	Button 6, \
	!Handles, \
	FixedSize
Test (EnvMatch Sky_Theme gentoo) \
	Style zsnes \
	PositionPlacement Center \
	Button 1, \
	Button 2, \
	!Button 4, \
	Button 6, \
	!Handles, \
	FixedSize
Style PCSX \
	!Button 2, \
	PositionPlacement Center, \
	!Handles, \
	FixedSize
Test (EnvMatch Sky_Theme tribal) \
	Style PCSX \
	PositionPlacement Center \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6, \
	!Handles, \
	FixedSize
Test (EnvMatch Sky_Theme diamond) \
	Style PCSX \
	PositionPlacement Center \
	Button 1, \
	Button 2, \
	!Button 4, \
	Button 6, \
	!Handles, \
	FixedSize
Test (EnvMatch Sky_Theme gentoo) \
	Style PCSX \
	PositionPlacement Center \
	Button 1, \
	Button 2, \
	!Button 4, \
	Button 6, \
	!Handles, \
	FixedSize
Style Jools \
	!Button 2, \
	PositionPlacement Center, \
	!Handles
Style dosbox \
	GrabFocus, \
	PositionPlacement Center, \
	!Button 2, \
	!Handles
Test (EnvMatch Sky_Theme tribal) \
	Style dosbox GrabFocus, \
	PositionPlacement \
	Center, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6
Test (EnvMatch Sky_Theme diamond) \
	Style dosbox \
	GrabFocus, \
	PositionPlacement \
	Center, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	Button 6
Test (EnvMatch Sky_Theme gentoo) \
	Style dosbox \
	GrabFocus, \
	PositionPlacement \
	Center, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	Button 6
Style supertux \
	!Button 2, \
	GrabFocus, \
	PositionPlacement Center, \
	!Handles
Style neverball \
	!Button 2, \
	GrabFocus, \
	PositionPlacement Center, \
	!Handles
Style lbreakout \
	PositionPlacement Center, \
	!Handles, \
	!Button 2
Test (EnvMatch Sky_Theme tribal) \
	Style Lbreakout \
	PositionPlacement Center, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6 \
	FixedSize, \
	!Handles
Test (EnvMatch Sky_Theme diamond) \
	Style Lbreakout \
	PositionPlacement Center, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6, \
	FixedSize, \
	!Handles
Test (EnvMatch Sky_Theme diamond) \
	Style LBreakout2 PositionPlacement Center, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6, \
	FixedSize, \
	!Handles
Style crack-attack \
	FixedSize
Style ltris \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/pixmaps/ltris.xpm
Style xbmc.bin \
	Sticky, !Title, !Handles, BorderWidth 0, \
	EWMHMaximizeIgnoreWorkingArea, \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/icons/hicolor/48x48/apps/xbmc.png
Test (EnvMatch Sky_TwoMons_Type 3) Style xbmc.bin \
	StartsOnScreen 1
Style openttd \
	EWMHMaximizeIgnoreWorkingArea, \
	ResizeOutline

# * Emuladores de Terminal
Style xterm \
	ResizeOutline, \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-terminal.png
Style XTerm \
	ResizeOutline, \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-terminal.png
Style rxvt \
	ResizeOutline, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/gnome-terminal.png
Style mrxvt \
	ResizeOutline
Style Terminal \
	ResizeOutline
Test (EnvMatch Sky_TwoMons_Type 3) Style guake \
	StartsOnScreen 0

# * Outros
Style scim-panel-gtk \
	PositionPlacement, \
	UsePPosition
Style geany \
	UsePPosition
Style sylpheed \
	UsePPosition
Style x48 \
	!Button 2, \
	!Handles
Test (EnvMatch Sky_Theme tribal) \
	Style x48 \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6
Test (EnvMatch Sky_Theme diamond) \
	Style x48 \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	!Button 6
Style xchat \
	!GrabFocus, \
	SkipMapping, \
	DontRaiseTransient, \
	DontLowerTransient, \
	DontStackTransientParent, \
	GrabFocusTransientOff
#Style Xchat FocusFollowsMouse
Style emesene FocusFollowsMouse
Style Pidgin FocusFollowsMouse
Style Googleearth-bin \
	EWMHMaximizeIgnoreWorkingArea, \
	GNOMEIgnoreHints, \
	EWMHIgnoreStackingOrderHints, \
	EWMHIgnoreWindowType, \
	EWMHIgnoreStateHints, \
	EWMHPlacementIgnoreWorkingArea, \
	UseTransientPPosition, \
	EWMHDontDonateIcon, \
	Icon /opt/google/earth/free/product_logo_48.png
Style opera \
	EWMHDontDonateIcon, \
	Icon opera_hicolor.png
Style Google-chrome \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/icons/hicolor/48x48/apps/google-chrome.png
Style Fwbuilder \
	EWMHDontDonateIcon, \
	Icon $[Gtk_Icon_Theme]/48x48/apps/icon-network-firewall.png
Style rdesktop \
	Icon $[Gtk_Icon_Theme]/48x48/apps/icon-connect-windows.png
Style Pidgin \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/icons/hicolor/48x48/apps/pidgin.png
Style emesene \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/emesene/misc/emesene.svg
Style gnuplot_qt ResizeOutline
Style darktable \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/icons/hicolor/48x48/apps/darktable.png
Style xeyes !Title

# * Centrais de configuração
Style Y2controlcenter \
	EWMHDontDonateIcon, \
	Icon /usr/share/pixmaps/yast.png
Style YaST2 \
	EWMHDontDonateIcon, \
	IconOverride, \
	Icon /usr/share/pixmaps/yast.png

# * Emulação e Virtualização
Style Wine \
	ResizeOutline
#Style wine \
#	GrabFocus, 
#	PositionPlacement Center, \
#	!Handles
Style vmware \
	BorderWidth 7
Style VirtualBox \
	BorderWidth 7, \
	CaptureHonorsStartsOnPage
Test (EnvMatch Sky_Theme clearlooks) \
	Style VirtualBox \
	BorderWidth 1
Test (EnvMatch Sky_Theme gentoo) \
	Style VirtualBox \
	BorderWidth 1
Test (EnvMatch Sky_Theme skywall) \
	Style VirtualBox \
	Font "Shadow=1 0 SE:xft:Helvetica:Bold:size=12"
Test (EnvMatch Sky_Theme skywall) \
	Style VirtualBox \
	Font "Shadow=1 0 SE:xft:Helvetica:Bold:size=12"
Style qemu \
	BorderWidth 7
Test (EnvMatch Sky_Theme skywall) \
	 Style qemu \
	Font "Shadow=1 0 SE:xft:Helvetica:Bold:size=12"
Style SheepShaver \
	BorderWidth 7, \
	!Button 2, \
	!Handles, \
	Icon $[Fvwm_Icon_Theme]/48x48/apps/sheepshaver.png
Test (EnvMatch Sky_Theme skywall) \
	 Style SheepShaver \
	 Font "Shadow=1 0 SE:xft:Helvetica:Bold:size=12"
Style BasiliskII \
	BorderWidth 7, \
	PositionPlacement Center, \
	!Button 2, \
	!Handles, \
	Icon $[Fvwm_Icon_Theme]/48x48/apps/basilisk.png
Test (EnvMatch Sky_Theme skywall) \
	Style BasiliskII \
	Font "Shadow=1 0 SE:xft:Helvetica:Bold:size=12"
Test (EnvMatch Sky_Theme gentoo) \
	Style BasiliskII \
	BorderWidth 2, \
	!Handles, \
	Button 1, \
	Button 2, \
	!Button 4, \
	Button 6
Style pose \
	Icon $[Gtk_Icon_Theme]/48x48/mimetypes/pda.png

# * Programação/Desenvolvimento
Style Squeak \
	EWMHDontDonateIcon, \
    IconOverride, \
	Icon /usr/share/pixmaps/squeak.png

# * Sistemas de entrada
Style "CellWriter" \
	!Button 6, \
	!Button 4, \
	!GrabFocus, \
	StaysOnTop, \
	!Iconifiable, \
	!Handles, \
	UsePPosition, \
	GNOMEUseHints, \
	PositionPlacement
Test (EnvMatch Sky_Theme diamond) \
	Style "CellWriter" \
	Button 1, \
	!Button 6, \
	Button 8, \
	Button 2, \
	!Button 4, \
	!Button 3, \
	!GrabFocus, \
	StaysOnTop, \
	!Iconifiable, \
	!Handles, \
	UsePPosition, \
	GNOMEUseHints, \
	PositionPlacement, \
	TitleAtBottom
Test (EnvMatch Sky_Theme gentoo) \
	Style "CellWriter" \
	Button 1, \
	!Button 6, \
	Button 8, \
	Button 2, \
	!Button 4, \
	!Button 3, \
	!GrabFocus, \
	StaysOnTop, \
	!Iconifiable, \
	!Handles, \
	UsePPosition, \
	GNOMEUseHints, \
	PositionPlacement, \
	TitleAtBottom
Test (EnvMatch Sky_Theme diamond) \
	Style "xvkbd" \
	Button 1, \
	Button 6, \
	Button 8, \
	Button 2, \
	!Button 4, \
	!Button 3, \
	!GrabFocus, \
	StaysOnTop, \
	!Maximizable, \
	!Handles, \
	UsePPosition, \
	FixedSize, Sticky, TitleAtBottom
Test (EnvMatch Sky_Theme gentoo) \
	Style "xvkbd" \
	Button 1, \
	Button 6, \
	Button 8, \
	Button 2, \
	!Button 4, \
	!Button 3, \
	!GrabFocus, \
	StaysOnTop, \
	!Maximizable, \
	!Handles, \
	UsePPosition, \
	FixedSize, Sticky, TitleAtBottom

# * É essencial definir os estilos a seguir, caso você costume usar
#   TearMenuOff
Test (EnvMatch Sky_Theme skywall) \
	Style fvwm_menu Font "Shadow=1 1 SE:xft:Helvetica:Bold:size=9"
Test (EnvMatch Sky_Theme gentoo) \
	Style fvwm_menu Font "Shadow=1 0 SE:xft:Sans:Medium:size=12"
Style fvwm_menu \
	ForeColor white, \
	!Button 0, \
	!Button 1, \
	!Button 2, \
	!Button 3, \
	!Button 4, \
	!Button 5, \
	!Button 6, \
	!Button 7, \
	!Button 8, \
	!Button 9, \
	Title, \
	HandleWidth 1

### Se você nao quer ícones no desktop comente o estilo declarado a ###
### seguir ###
#Style * NoIcon
Test (EnvMatch Sky_Panels_Type 4) Style * NoIcon

echo styles.rc: Processamento terminado.
#=====================================================================#
